*{
  margin: 0;
  padding: 0;
}
.avatar {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
a{
  text-decoration: none;
  color: white;
}
i{
  font-size: 40px;
}
.navbar-brand{
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
}
header{
  background-color: darkcyan;
}